html,
body,
div,
span,
h1,
h2,
h3,
h4,
a,
ol,
ul,
li,
form,
label,
article,
aside,
figure,
figcaption,
footer,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
#root,
.app {
  height: 100%;
}

body {
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

img {
  width: 100%;
}

.App {
  text-align: center;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.content-div {
  background-color: #282c34;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.current-location-container {
  height: 33%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.day-container {
  width: 14.285714285714286%;
  height: 100%;
}

.weather-content-container {
  height: 100%;
  width: 100%;
}

.weather-list {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.weather-list-container {
  width: 100%;
  height: 33%;
  display: flex;
  flex-direction: column;

  margin-top: 30px;
  margin-bottom: 30px;
}

.day-weather {
  font-size: 15px;
}

.weather-form-container {
  height: 33%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-form {
}
