html,
body,
div,
span,
h1,
h2,
h3,
h4,
a,
ol,
ul,
li,
form,
label,
article,
aside,
figure,
figcaption,
footer,
header,
nav {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html,
body,
#root,
.app {
  height: 100%;
}

body {
  line-height: 1.5;
}

ol,
ul {
  list-style: none;
}

img {
  width: 100%;
}

.App {
  text-align: center;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.content-div {
  background-color: #282c34;
  min-height: 100vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.current-location-container {
  height: 19%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
}

.day-container {
  width: 14.285714285714286%;
  height: auto;
  border-style: solid;
  border-width: 5px;
  border-color: white;
  border-radius: 25px;
  margin: 5px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
}

.weather-content-container {
  height: 100%;
  width: 100%;
}

.weather-list {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-right: 10px;
}

.weather-list-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  margin-top: 10px;
  margin-bottom: 30px;
}

.day-weather {
  font-size: 15px;
}

.form-content-container {
  display: flex;
}

.weather-form-container {
  height: 20%;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.weather-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instructions {
  font-size: smaller;
  margin-top: 15px;
}

.errors-div {
  margin-top: 5px;
  font-size: small;
  color: yellow;
}

.weather-input-button {
  color: lightblue;
  background: transparent;
  border: 2px solid lightblue;
  border-radius: 6px;
  border: none;
  color: white;
  padding: 2px 8px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  background-color: white;
  color: black;
  border: 2px solid lightblue;
  outline: 0;
  margin-left: 10px;
}

.weather-input {
  margin-left: 10px;
  outline: none;
}

.weather-input-button:active {
  background-color: lightblue;
  color: red;
}

.short-text {
  display: none;
}

.current-location-div {
  display: flex;
}

@media only screen and (max-width: 1000px) {
  .App {
    text-align: center;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
  }

  .current-location-div {
    font-size: 85%;
    display: flex;
    flex-direction: column;
  }

  .full-text {
    display: none;
  }

  .short-text {
    display: flex;
    font-size: 25px;
  }

  .weather-list-container {
    overflow: scroll;
  }
  .weather-list {
    flex-direction: column;
    align-items: center;
  }

  .day-high,
  .day-low {
    padding-left: 10px;
  }

  .day-weather,
  .instructions {
    display: none;
  }

  .weather-form-container {
    height: 28%;
  }

  .weather-content-container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 25px;
  }

  .weather-list-container {
    height: 100%;
  }

  .content-div {
    background-color: #282c34;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .day-container {
    width: 94%;
    margin: 15px;
    height: 14.285714285714286%;
  }

  .form-content-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .img-div {
    height: 30px;
    width: 30px;
    margin-left: 10px;
  }

  .weather-form {
    height: 100%;
    margin-top: 30px;
  }

  .slider-div {
    padding: 15px;
    position: relative;
    bottom: 0;
  }

  .day-name {
    font-size: 75%;
    margin-left: 7px;
  }

  .location {
    content: "Location";
  }
}
